---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "averta_light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$bold-font-family: "averta_bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   24px;
$base-font-weight: 300;
$bold-font-weight: 900;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     76px;

$text-color:       #282828;
$background-color: #FFFFFF; 
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1400px;
$on-laptop:        800px;
$on-palm:          600px;

// Vertical rhythm
$base-spacing-unit: 76px !default;
$three-quarter-spacing-unit: $base-spacing-unit / 4 * 3 !default;
$half-spacing-unit: $base-spacing-unit / 2 !default;
$quarter-spacing-unit: $half-spacing-unit / 2 !default;
$sixth-spacing-unit: $base-spacing-unit / 6 !default;

$ie: 999 !default;

// Grid settings
$grid-gutter: $half-spacing-unit !default;
$grid-screen-sizes: ("xsmall", "small", "medium", "large", "xlarge") !default; // Only classes listed here will be generated. These classes should follow the breakpoints given below.
$grid-total-columns: 12 !default; // If less than 12 columns are required, setting this lower will reduce the amount of column width classes generated.
$grid-include-center-classes: true !default; // If set to false, column centring classes (e.g. '.small-centered') will not be generated.
$grid-include-pull-classes: true !default; // If set to false, column pull classes (e.g. '.small-pull-2') will not be generated.
$grid-include-push-classes: true !default; // If set to false, column push classes (e.g. '.small-push-2') will not be generated.
$grid-include-offset-classes: true !default; // If set to false, column offset classes (e.g. '.small-offset-4') will not be generated.

// Breakpoints
$breakpoints: (
  xsmall: 320px,
  small: 480px,
  medium: 750px,
  large: 1000px,
  xlarge: 1200px
) !default;

// Viewport orientation
$landscape: "only screen and (orientation: landscape)" !default;
$portrait: "only screen and (orientation: portrait)" !default;

@mixin media($size) {
  @if $ie <= 8 {
    @content;
  }
  @else {
    @if map-has-key($breakpoints, $size) {
      @media (min-width: #{map-get($breakpoints, $size)}) {
        @content;
      }
    }
    @else {
      @media ($size) {
        @content;
      }
    }
  }
}

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "fonts",
  "base",
  "items",
  "layout",
  "grid"
;
