/*===============================================
Grid layout mixins - Co-op Front-end Toolkit
===============================================*/

@import "helpers";

%grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0;
}
