<div class="app">
    <header class="mt-item mt-header">
        <p class="mt-intro">I'm</p>
        <h1>Matt Tyas</h1>
        <p>I help make digital things that people need</p>
        <a href="mailto:matt@matthewtyas.com">talk to me</a>
        <img src="/assets/images/mt-illustration-compressed.svg" class="mt" alt="" />
    </header>
    <section class="mt-item mt-skills">
        <p class="mt-intro">I do</p>
        <ul class="mt-list">
            <li>service design</li>
            <li>user experience</li>
            <li>interaction design</li>
            <li>prototyping</li>
            <li>development</li>
        </ul>
    </section>
