body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;

}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $base-spacing-unit;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

h1, h3, h4, h5, h6 {
 font-weight: $bold-font-weight;
}

h1 {
   margin-bottom: $base-spacing-unit/2;
   font-size: 48px;
   line-height: 1;
   text-transform: lowercase;
   color: #000;
   font-weight: $bold-font-weight;
}

h2,
h3 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: $bold-font-weight;
}

h3 {
  color: #FFF;
  margin-bottom: 0;
}

.mt-intro {
  text-indent: 3px;
  font-size: 18px;
  color: #000;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1;
}

.mt-list {
  list-style: none;
  margin-top: -10px;
  margin-bottom: 0;
  li {
    font-size: 48px;
    color: #E05512;
    line-height: 1.4;
    font-weight: $bold-font-weight;
  }
}

a {
  color: #000;
  border-bottom: 0.075em solid #282828;
  text-decoration: none;

  &:hover {
    border-bottom: 0;
  }
}

.app {
  @extend %grid;
  position: relative;
}
