.mt-header {
  position: relative;
  padding-right: $base-spacing-unit;
  background: rgba(240, 232, 229, 1.0);
  grid-column: span 12;
  overflow: hidden;
  @include media(medium) {
    overflow: visible;
  }
  @include media(large) {
    padding-left: $base-spacing-unit;
    overflow: visible;
  }
  @include media(xlarge) {
    grid-column: span 5;
    padding-right: $base-spacing-unit*3;
    overflow: visible;
  }


}

.mt {
  position: absolute;
  left: $base-spacing-unit*5;
  width: 300px;
  left: 45%;
  top: 70%;
  @include media(medium) {
    width: 300px;
    left: 60%;
    top: $base-spacing-unit;
  }
  @include media(large) {
    width: 300px;
    left: 60%;
    top: $base-spacing-unit;
  }
}

.mt-skills {
  padding-left: $base-spacing-unit/2;
  background: rgba(237, 217, 208, 1.0);
  grid-column: span 12;
  @include media(large) {
    padding-left: $base-spacing-unit;
  }
  @include media(xlarge) {
    grid-column: span 7;
    padding-left: $base-spacing-unit*3;
  }
}

.mt-job {
  grid-column: span 12;
  @extend %grid;
}

.mt-job-role {
  position: relative;
  z-index: 101;
  background: lighten(rgba(35, 70, 108, 1.0), 60%);
  grid-column: span 12;
  //grid-row-start: 2;
  grid-row-end: span 2;
  @include media(large) {
    grid-column: span 5;
  }

  h2 {
    margin-bottom: $base-spacing-unit/2;
  }
}

.mt-project {
  @extend %grid;
  grid-template-rows: 171px;
  background: lighten(rgba(35, 70, 108, 1.0), 50%);
  grid-column: span 12;
  @include media(large) {
    grid-column: span 7;
  }

  p {
    color: #000;
    grid-column: span 12;
    align-self: end;
  }

  h3 {
    grid-column: span 12;
    align-self: end;
    color: #000;
  }
}

.mt-job-role-finest {
  background: rgba(231, 231, 231, 1.0);
}

.mt-project-finest {
  background: rgba(255, 255, 255, 1.0);

  svg {
    position: relative;
    top: 20px;
  }
}

.mt-project-grey {
  background: lighten(rgba(35, 70, 108, 1.0), 25%);
  p {
    color: #FFF;
  }
  h3 {
    color: #FFF;
  }
}
